.bookings-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    padding-block: 32px;
}


.search-div input{
    padding: 4px;
    border: none;
    border-radius: 5px;
}
.booking-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    gap: 1.5rem; /* espacio entre las tarjetas */
    gap: 1.5rem;
    width: 100%;
    margin-top: 2rem;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center; /* 🟢 clave para centrar tarjetas si hay menos columnas */
    justify-items: center;
}


  .booking-result-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 200px;
}
  