.navbar{
    background-color: var(--primary-color);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 10px;
}

.logo{
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
}

.btn-nav {
    align-self: flex-end;
    color: var(--secondary-color);
}

