.filter-select-div select{
    margin-inline: 4px;
    padding: 9px;
    border-radius: 8px;
    border: none;
}

.all-rooms{
    padding: 16px;
}

.all-rooms h2{
    color: var(--primary-color);
    font-weight: 800;
}